<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="artist-list">
        <div class="artist-card">        
            <img src="{{.Image}}" alt="{{.Name}}" class="artist-image">
            <div class="artist-name">
                <a>{{.Name}}</a>
            </div>
            </a>
        </div>
    </div>
    
    <div class="artist-list">
        <div class="artist-card">
            <div class="content">
                <h3>Year of creation:</h3>
                <p>{{.Year}}</p>
                <h3>Year of First Album:</h3>
                <p>{{.Album}}</p>
            </div>
        </div>
        <div class="artist-card">
            <div class="content">
                <h3>Members:</h3>
                <ul>
                    {{range .Members}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>            
        </div>
    </div>
    
    
    <a href="/">Back to Artists</a>
</body>
</html>
