<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="artist-profile">
            <div class="artist-image-container">
                <img src="{{.Image}}" alt="{{.Name}}" class="artist-image" width="400" height="400">
            </div>
            <div class="artist-info">
                <h1>{{.Name}}</h1>
                <h3 class="artist-genre">Year of creation:</h3>
                <p>{{.Year}}</p>
                <h3 class="artist-genre">Year of First Album:</h3>
                <p>{{.Album}}</p>
            </div>
        </div>
        <h2 class="section-title">Band Members</h2>
        <ul class="member-list">
            {{range .Members}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    </div>
        </div>
    </div>

    <h2 class="section-title">Locations</h2>
    <ul class="member-list">
        {{range .Locations}}
            <li>{{.}}</li>
        {{end}}
    </ul>

    <h2 class="section-title">Dates</h2>
    <ul class="member-list">
        {{range .ConcertDates}}
            <li>{{.}}</li>
        {{end}}
    </ul>

    <h2 class="section-title">Location and Dates</h2>
    <ul class="date-list" id="tour-dates">
        {{range $key, $value := .DatesLocations}}
            {{range $value}}
            <li>
                <span class="location">{{$key}}</span>
                <span class="date">{{.}}</span>
            </li>
            {{end}}
        {{end}}
    </ul>

    <div class="button-sec">
        <a href="/" class="button">Back to Artists</a>
    </div>
   
</body>
</html>
