<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Trackers</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
      <!-- Header section for title and search bar -->
    <header class="header">
        <a class="h1" href="/">Groupie Tracker</a>
        <div class="search-bar-container">
            <input 
                type="text" 
                class="search-bar" 
                id="search-bar" 
                placeholder="Search for an artist, member, or location..."
                oninput="performSearch()"
            >
            <ul id="suggestions" class="suggestions hidden"></ul>
        </div>
    </header>

    <div class="artist-list">
        {{range .}}
            <div class="artist-card">
            
                    <img src="{{.Image}}" alt="{{.Name}}" class="artist-images">
                    <div class="artist-name">
                        <a href="/artist?id={{.ID}}" >{{.Name}}</a>
                    </div>
                </a>
            </div>
        {{end}}
    </div>
    <script>
        function performSearch() {
            const query = document.getElementById("search-bar").value;
            const suggestionsList = document.getElementById("suggestions");
            suggestionsList.innerHTML = '';
    
            if (query.length > 0) {
                fetch(`/search?query=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(item => {
                            const suggestionItem = document.createElement("li");
                            suggestionItem.textContent = `${item.Name} - ${item.Type}`;
                            suggestionsList.appendChild(suggestionItem);
                        });
                        suggestionsList.classList.remove("hidden");
                    });
            } else {
                suggestionsList.classList.add("hidden");
            }
        }
    </script>
</body>
</html>
